<div class="row">
    <div class="col col-lg-12">
        <h2>c06 - Scope inheritance</h2>
    </div>
</div>

<div class="row" style="border:solid 1px darkslategrey;">
    <div class="col col-lg-12">
        <h4>Controller - the parent scope (ScopeInheritanceCtrlParent)</h4>
        <pre>
$scope.customer = 'Abraham';
$scope.address = {
    streetName: 'Husakova',
    streetNumber: '1971'
}
        </pre>
        <p><input type="text" ng-model="customer"><input type="text" ng-model="address.streetName"></p>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h4>scope: false</h4>
        <p>Two-way, full prototype inheritance</p>
        <my-address-scope-false></my-address-scope-false>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h4>scope: true</h4>
        <p>Automatically done implicit input binding.</p>
        <my-address-scope-true></my-address-scope-true>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h4>scope: {}</h4>
        <p>Isolated scope, no bindings</p>
        <my-address-scope-isolated></my-address-scope-isolated>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h4>scope: {customer: '='}</h4>
        <p>Explicitly stated 2-way binding</p>
        <my-address-scope-isolated-twoway customer="customer" street-name="address.streetName"></my-address-scope-isolated-twoway>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h4>scope: {customer: '&lt;'}</h4>
        <p>Explicit input-only binding</p>
        <p>Due to documentation, you can use scope = {'@'} as well, especially for strings that do not change often.</p>
        <my-address-scope-isolated-input-only customer="customer" street-name="address.streetName"></my-address-scope-isolated-input-only>
    </div>
</div>

<div class="alert alert-info" role="alert">
    <h3>Conclusion</h3>
    <ul>
        <li>Be aware of scope inheritance - these little things create deep mess in the final result!</li>
        <li>Build your application from <strong>components and directives</strong>, not from controllers (A2 way:-))</li>
        <li>Isolate scopes for directives, <strong>only let them accept parent model explicitly</strong> </li>
        <li>Try to write your directives in a <a href="#/component-directives">component directive manner</a>, or
            use <a href="#/component-directives">component API</a> (AngularJS ver. >= 1.5)
        </li>
    </ul>
</div>
