<!--https://docs.angularjs.org/guide/component-->

<h2>Component API</h2>

<p>The basic difference when declaring component is, that unlike directive it doesn't tak a factory function, but just
the component definition object.</p>

<p>The bindings are somehow distinguished between inputs (&lt;, @) and outputs (&)</p>

<p>They're designed to use controllerAs pattern, not operate with $scope object</p>

<p>They always have an isolated scope</p>

<p>They are simpler and faster to write - proper default values like scope = {}, controllerAs = '$ctrl'</p>

<list-component show="true"></list-component>