<div class="row">
    <div class="col col-lg-12">
        <h2>Component API</h2>
        <h3>The key features of the Component API in AngularJS:</h3>

        <ul>
            <li>The basic difference when declaring component is, that unlike directive it doesn't tak a factory
                function, but
                just
                the component definition object.
            </li>
            <li>The binding is well structured: there are Input bindings (&lt;, @) and Output bindings (&amp;)</li>
            <li>They're designed to use controllerAs pattern, not to operate with $scope object</li>
            <li>They always have an isolated scope</li>
            <li>They are simpler and faster to write - convenient default values like scope = {}, controllerAs = '$ctrl'
            </li>
            <li>For further info please visit <a href="https://docs.angularjs.org/guide/component" target="_blank">https://docs.angularjs.org/guide/component</a>
            </li>
        </ul>
    </div>
</div>

<hr>

<div class="row">
    <div class="col col-lg-12" style="background-color:cadetblue">
        <div class="col col-lg-4">
            <h4>Parent controller</h4>
            <button ng-click="cmp.deadlyOnly()">Deadly only</button>
            <hr>
        </div>
        <div class="col col-lg-8">
            <p ng-repeat="m in cmp.messages track by $index">{{m}}</p>
        </div>

        <div class="col col-lg-12"  style="background-color:bisque">
            <h4>Component</h4>
            <sin-list sins="cmp.sins" list-api="cmp.listApi" on-delete="cmp.onDeleteNotification(id)"></sin-list>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col col-lg-12">
        <h3>Routing to component</h3>

    </div>
</div>