<h2>Component directives - example for A1 < 1.5</h2>
Note:
This is fully functional and recommended way to write component directives for A1, which can be easily migrated to A2 components. <br>
This version works for AngularJS version < 1.5, AngularJS 1.5 introduces "component API", which is even more convenient for
many reasons, and also for later upgrade to A2 components.
<hr>

<my-component-directive some-param="2017"></my-component-directive>

<hr>

<pre>
.directive('myComponentDirective', function () {
    return {
        restrict: 'E', // must be restricted to Element
        scope: {}, // must have isolated scope

        bindToController: { // must bind to controller rather then to $scope
            someParam: '='
        },

        templateUrl: 'views/my-cmp.html',

        controller: function() { // must have its own controller - manipulate directive template via controller, not scope
            this.someText = 'I am component directive - you fucking click me!';

            this.onClick = function () {
                alert('clicked');
            }
        },

        controllerAs: 'ctrl' // must declare controllerAs - use it in component template
    };
})
</pre>

<h2>AngularJS ver >= 1.5</h2>
<p>This version introduces <strong><a href="#/cmp-api-intro">component API</a></strong> which has these pros:</p>

    <ul>
        <li>lets you write component directives in even more comfortable manner</li>
        <li>is almost fully aligned with Angular2 component architecture => such directives can be very easily upgraded to A2 components</li>
    </ul>
<br>