<div class="row">
    <div class="col col-lg-12">
        <h2>Component API</h2>
        <h3>The key features of the Component API in AngularJS:</h3>

        <ul>
            <li>The basic difference when declaring component is, that unlike directive it doesn't tak a factory
                function, but
                just
                the component definition object.
            </li>
            <li>The binding is well structured: there are Input bindings (&lt;, @) and Output bindings (&amp;)</li>
            <li>They're designed to use controllerAs pattern, not to operate with $scope object</li>
            <li>They always have an isolated scope</li>
            <li>They are simpler and faster to write - convenient default values like scope = {}, controllerAs = '$ctrl'
            </li>
            <li>For further info please visit <a href="https://docs.angularjs.org/guide/component" target="_blank">https://docs.angularjs.org/guide/component</a>
            </li>
        </ul>
    </div>
</div>

<hr>

<div class="row">
    <div class="col col-lg-12">
        <h3>Component inserted to page</h3>
    </div>
    <div class="col col-lg-12" style="background-color:cadetblue">
        <div class="col col-lg-4">
            <h4>Parent controller</h4>
            <button ng-click="cmp.deadlyOnly()">Deadly only</button>
            <hr>
        </div>
        <div class="col col-lg-8">
            <p ng-repeat="m in cmp.messages track by $index">{{m}}</p>
        </div>
        <div class="col col-lg-12"  style="background-color:bisque">
            <h4>Component</h4>
            <sin-list sins="cmp.sins" list-api="cmp.listApi" on-delete="cmp.onDeleteNotification(id)"></sin-list>
        </div>
    </div>
    <div class="col col-lg-12">
        <h4>Here we go - the code of the component JS:</h4>
        <pre>
    .component('sinList', {

        bindings: {
            sins: '<', // input only binding
            onDelete: '&', // event binding
            listApi: '=' // typical two-way binding
        },

        /*
        * we could use registered component as well
        * also we could pass $scope, $element, $attrs params, if we needed them for something
        * */
        controller: function () {
            var ctrl = this;
            ctrl.filterExp = '';

            /*
             * child-to-parent communication
             * we do not operate right on input data (as we would by using '=' binding)
             * we expose callback and let the parent controller decide what to do with the event
             **/
            ctrl.deleteSin = function (id) {
                ctrl.onDelete({id: id});
            };

            ctrl.$onInit = function () {
                /*
                 * we expose API in this life-cycle hook to enable parent-to-child communication
                 * */
                ctrl.listApi = {
                    filterDeadly: function () {
                        ctrl.filterExp = 'deadly';
                    }
                }
            }

        },
        controllerAs: 'listCtrl',
        templateUrl: 'views/sample-component.html'

    });
        </pre>
    </div>
</div>

<hr>

<div class="row">
    <div class="col col-lg-12">
        <h3>Routing to component</h3>
        Let's route to the sinList component: <a href="#/sin-list">sinList component as a target route</a>
    </div>
    <div class="col col-lg-12">
        <p>And this is the code we need in the $routeProvider configuration:</p>
        <pre>
            .when('/sin-list', {template: '&lt;sin-list sins="$resolve.sins" list-api="$resolve.listApi" on-delete="$resolve.onDeleteNotification(id)">&lt;/sin-list>',
                resolve: {
                    sins: function () { return [{id: 0, title: 'gluttony', severity: 'light'}, {id: 1, title: 'adultery', severity: 'deadly'}]},
                    listApi: function () { return {}},
                    onDeleteNotification: function () { return function (id) { alert('refused deletion of: ' + id) }}
                }
            });
        </pre>
    </div>
</div>
<br>
<br>