<div class="row">

    <div class="col col-lg-12">
        <h2>ngTransclude directive</h2>
        <p>Purpose: enables you to embed a portion of DOM from the outer environment to your directive and access the
            scope of
            the embedded code</p>
    </div>

    <div class="col col-lg-12">
        <h3>Simple transclusion example</h3>

        <p>The "original" directive content is cadet blue color. The transcluded portion od DOM is bisque color.</p>
        <p>Look how we managed to bind together the two controllers - parent controller <strong>ngt</strong> and the
            directive controller via binding to property <strong>search-exp</strong></p>

        <simple-transclude search-exp="ngt.searchExpression">
            <!--trnascluded content-->
            <div style="background-color: bisque;border: solid 1px black;padding:6px;">
                <label>This is the header of the tile</label>
                <input type="text" ng-model="ngt.searchExpression">
            </div>
            <!--end transcluded content-->
        </simple-transclude>

        <br>

        <div class="alert alert-info">
            <p>Notice that both parent controller and directive use the "controllerAs" pattern and communicate via
                explicit
                binding, which prevents scope inheritance mess.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h3>Transclusion with fallback</h3>
        <p>Right now we will reuse the directive from previous example, but we will provide no content for the Title
            bar. We will just count on the fallback content.</p>

        <simple-transclude search-exp="ngt.searchExpression">
        </simple-transclude>

    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h3>Multi slot transclusion</h3>
        <p>Let us extend the directive, and iject also some footer into it. Such pattern is called multi-slot
            transclusion</p>

        <multi-slot-transclude search-exp="ngt.searchExpression">

            <multi-slot-transclude-header>
                <div style="background-color: bisque;border: solid 1px black;padding:6px;">
                    <label>This is the header of the tile</label>
                    <input type="text" ng-model="ngt.searchExpression">
                </div>
            </multi-slot-transclude-header>

            <multi-slot-transclude-footer>
                <div style="background-color: bisque;border: solid 1px black;padding:6px;">
                    <label>This is the footer of the tile</label>
                </div>
            </multi-slot-transclude-footer>

        </multi-slot-transclude>

    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <h3>transcludeFn in a link function</h3>

    </div>
</div>
